.main-container {
    display: flex;
}
.left-col {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.time-curve-container {
    flex: 1 0 auto;
}

.invariant-graph-container {
    flex: 1 0 auto;
    margin: 10px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.graph h3 {
    text-align: center;
}
.graph .svg {
    border: 1px solid grey;
    max-height: 800px;
    overflow: scroll;
}
.tools {
    flex: 1 0 auto;
    padding: 10px 10px;
    /*min-width: 300px;*/
}

