.line {
    fill: none;
    stroke-width: 2px;
    stroke: steelblue;
}

.point {
    fill-opacity: .5;
}

.start-point {
    stroke-width: 3px;
    stroke: red;
}

.end-point {
    stroke-width: 3px;
    stroke: yellow;
}

.popover {
    max-width: 800px;
}
.popover .popover-content {
    max-height: 600px;
    overflow: scroll;
}

td.value-cell {
}
