
#timeline .process-name {
    font-size: 14px;
}

#timeline .timeline-content .line {
    stroke-width: 1px;
}
#timeline .links .link {
    stroke: grey;
    stroke-width: 1px;
}

#timeline .cut-block {
    fill: grey;
}

.tooltip .tooltip-inner {
    max-width: 400px;
}