.line {
    fill: none;
    /*stroke-width: 1px;*/
    stroke: none;
}
.line-segment {
    fill: none;
    stroke-width: 1px;
}

.point {
    /*fill-opacity: .5;*/
}

.point.selected {
    stroke-width: 3px;
    stroke: #66aa00;
}

.start-point {
    stroke-width: 3px;
    stroke: #17becf;
}
.legends .start-point {
    fill: red;
}

.end-point {
    stroke-width: 3px;
    stroke: #17becf;
}
.legends .end-point {
    fill: black;
}

.selecting-box {
    fill: steelblue;
    fill-opacity: .3;
}

.popover {
    max-width: 800px;
}
.popover .popover-content {
    max-height: 600px;
    overflow: scroll;
}

td.value-cell {
}

.legends text {
    font-size: 10px;
}

#variable-filter {
    max-height: 300px;
    overflow: scroll;
}
#variable-filter .sec-level {
    margin-left: 20px;
}
